/* src/pages/Page4.module.css */
.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
}

.iframeContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.goBackButton {
  background-color: #a5fe04;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.goBackButton:hover {
  background-color: #90e504;
}
