/* src/pages/Page2.module.css */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.pageContainer {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100vw;
  height: 100vh;
  white-space: nowrap;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.pageContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollItem {
  flex: 0 0 100vw;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}

.goBackButton {
  background-color: #a5fe04;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.goBackButton:hover {
  background-color: #90e504;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.gridItem {
  background-color: #333;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 5px;
  text-align: right;
  font-weight: 600;
  opacity: 0; /* Start hidden */
  transform: translateX(-100%); /* Start off-screen */
}

.animate {
  animation: slideIn 0.5s ease-in-out forwards; /* Trigger the animation */
}

@media screen and (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
