/* src/pages/Page4.module.css */
.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
}

.scrollItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goBackButton {
  background-color: #a5fe04;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.goBackButton:hover {
  background-color: #90e504;
}
