/* src/components/GoBackButton.module.css */
.goBackButton {
  background-color: #a5fe04;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.goBackButton:hover {
  background-color: #90e504;
}
