/* src/components/molecules/Card.module.css */
@import "../../styles/variables.module.css";

.cardLink {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--ft-200);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  backdrop-filter: blur(20px);
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

.card * {
  color: white;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .card {
    transition: none;
  }
}

@media screen and (max-width: 768px) {
  .card {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.05);
  }

  .card:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}
